# Data Types for Data Science

## Fundamental data types

### Manipulating lists

You can add individual data elements to a list by using the .append() method. However, if you want to combine a list with another array type (list, set, tuple), you can use the .extend() method on the list.

You can also use the .index() method to find the position of an item in a list. You can then use that position to remove the item with the .pop() method.

In [3]:
# Create a list containing the names: baby_names
baby_names = ['Ximena','Aliza','Ayden','Calvin']

# Extend baby_names with 'Rowen' and 'Sandeep'
baby_names.extend(['Rowen','Sandeep'])

# Print baby_names
print(baby_names)

# Find the position of 'Aliza': position
position = baby_names.index('Aliza')

# Remove 'Aliza' from baby_names
baby_names.pop(position)

# Print baby_names
print(baby_names)

['Ximena', 'Aliza', 'Ayden', 'Calvin', 'Rowen', 'Sandeep']
['Ximena', 'Ayden', 'Calvin', 'Rowen', 'Sandeep']

### Looping over lists

You can use a for loop to iterate through all the items in a list. You can take that a step further with the sorted() function which will sort the data in a list from lowest to highest in the case of numbers and alphabetical order if the list contains strings.

The sorted() function returns a new list and does not affect the list you passed into the function.

In [8]:
records = [['2011', 'FEMALE', 'HISPANIC', 'GERALDINE', '13', '75'], ['2011', 'FEMALE', 'HISPANIC', 'GIA', '21', '67'], ['2011', 'FEMALE', 'HISPANIC', 'GIANNA', '49', '42'], ['2011', 'FEMALE', 'HISPANIC', 'GISELLE', '38', '51'], ['2011', 'FEMALE', 'HISPANIC', 'GRACE', '36', '53'], ['2011', 'FEMALE', 'HISPANIC', 'GUADALUPE', '26', '62'], ['2011', 'FEMALE', 'HISPANIC', 'HAILEY', '126', '8'], ['2011', 'FEMALE', 'HISPANIC', 'HALEY', '14', '74'], ['2011', 'FEMALE', 'HISPANIC', 'HANNAH', '17', '71']]

# Create the empty list: baby_names
baby_names = []

# Loop over records 
for row in records:
    # Add the name to the list
    baby_names.append(row[3])
    
# Sort the names in alphabetical order
for name in sorted(baby_names):
    # Print each name
    print(name)

GERALDINE
GIA
GIANNA
GISELLE
GRACE
GUADALUPE
HAILEY
HALEY
HANNAH

### Tuple

Immutable and ordered data type

### Using and unpacking tuples

Tuples are made of several items just like a list, but they cannot be modified in any way. It is very common for tuples to be used to represent data from a database. If you have a tuple like ('chocolate chip cookies', 15) and you want to access each part of the data, you can use an index just like a list. However, you can also "unpack" the tuple into multiple variables such as type, count = ('chocolate chip cookies', 15) that will set type to 'chocolate chip cookies' and count to 15.

Often you'll want to pair up multiple array data types. The zip() function does just that. It will return a list of tuples containing one element from each list passed into zip().

When looping over a list, you can also track your position in the list by using the enumerate() function. The function returns the index of the list item you are currently on in the list and the list item itself.

In [10]:
girl_names = ['Chloe', 'SOPHIA', 'LONDON', 'TAYLOR', 'Ava', 'MAKAYLA', 'RACHEL','GABRIELLE','LEAH', 'Taylor', 'Brielle', 'AVA', 'MADISON']
boy_names = ['Amir', 'Jack', 'Ryan', 'Jacob', 'Benjamin', 'DAVID', 'MATTHEW', 'Elijah', 'DANIEL', 'JOSIAH', 'Daniel', 'Eric', 'Mason']
# Pair up the boy and girl names: pairs
pairs = zip(girl_names, boy_names)

# Iterate over pairs
for idx, pair in enumerate(pairs):
    # Unpack pair: girl_name, boy_name
    girl_name, boy_name = pair
    # Print the rank and names associated with each rank
    print('Rank {}: {} and {}'.format(idx, girl_name, boy_name))

Rank 0: Chloe and Amir
Rank 1: SOPHIA and Jack
Rank 2: LONDON and Ryan
Rank 3: TAYLOR and Jacob
Rank 4: Ava and Benjamin
Rank 5: MAKAYLA and DAVID
Rank 6: RACHEL and MATTHEW
Rank 7: GABRIELLE and Elijah
Rank 8: LEAH and DANIEL
Rank 9: Taylor and JOSIAH
Rank 10: Brielle and Daniel
Rank 11: AVA and Eric
Rank 12: MADISON and Mason

### Making tuples by accident

Tuples are very powerful and useful, and it's super easy to make one by accident. All you have to do is create a variable and follow the assignment with a comma. This becomes an error when you try to use the variable later expecting it to be a string or a number.

You can verify the data type of a variable with the type() function.

In [11]:
# Create the normal variable: normal
normal = 'simple'

# Create the mistaken variable: error
error = 'trailing comma',

# Print the types of the variables
print(type(normal))
print(type(error))

<type 'str'>
<type 'tuple'>

### Finding all the data and the overlapping data between sets

Sets have several methods to combine, compare, and study them all based on mathematical set theory. The .union() method returns a set of all the names found in the set you used the method on plus any sets passed as arguments to the method. You can also look for overlapping data in sets by using the .intersection() method on a set and passing another set as an argument. It will return an empty set if nothing matches.

In [13]:
baby_names_2011 = {'Jazmine', 'Tiana', 'Jordyn', 'Malka', 'Sabrina', 'Eliza', 'Shawn', 'Aileen', 'Javier', 'Heidy', 'Jencarlos', 'Jesse', 'Mina'}
baby_names_2014 =  {'Yidel', 'Yitzchok', 'Roizy', 'Jaden', 'Kareem', 'Emanuel', 'Bridget', 'Jesus', 'Mirel', 'Hindy', 'Maggie', 'Kimora', 'Nolan', 'Yael', 'Philip', 'Prince', 'Shlome', 'Justin'}
# Find the union: all_names
all_names = baby_names_2011.union(baby_names_2014)

# Print the count of names in all_names
print(len(all_names))

# Find the intersection: overlapping_names
overlapping_names = baby_names_2011.intersection(baby_names_2014)

# Print the count of names in overlapping_names
print(len(overlapping_names))

31
0

### Determining set differences

Another way of comparing sets is to use the difference() method. It returns all the items found in one set but not another. It's important to remember the set you call the method on will be the one from which the items are returned. Unlike tuples, you can add() items to a set. A set will only add items that do not exist in the set.

In [14]:
# Create the empty set: baby_names_2011
baby_names_2011 = set()

# Loop over records and add the names from 2011 to the baby_names_2011 set
for row in records:
    # Check if the first column is '2011'
    if row[0] == '2011':
        # Add the fourth column to the set
        baby_names_2011.add(row[3])

# Find the difference between 2011 and 2014: differences
differences = baby_names_2011.difference(baby_names_2014)

# Print the differences
print(differences)

set(['HANNAH', 'GERALDINE', 'HALEY', 'HAILEY', 'GISELLE', 'GIANNA', 'GUADALUPE', 'GIA', 'GRACE'])

### Creating and looping through dictionaries

You'll often encounter the need to loop over some array type data and provide it some structure so you can find the data you desire quickly.

You start that by creating an empty dictionary and assigning part of your array data as the key and the rest as the value.

Dictionaries can also be sorted. By default, using sorted() on a dictionary will sort by the keys of the dictionary. You can also reverse the order by passing reverse=True as a keyword argument.

Finally, since sorted returns a list, you can use slice notation to select only part of the list. For example, [:10] will slice the first ten items off a list and return only those items.

In [18]:
female_baby_names_2012 = {('MADISON', 1), ('CYNTHIA', 36), ('SARAH', 12), ('CHAVY', 79), ('SUMMER', 31), ('SERENITY', 36), ('MICHELLE', 43), ('AMINA', 77), ('MELINA', 77), ('LAILA', 74), ('SLOANE', 74)}
# Create an empty dictionary: names
names = {}

# Loop over the girl names
for name, rank in female_baby_names_2012:
    # Add each name to the names dictionary using rank as the key
    
    names[rank] = name
    
# Sort the names list by rank in descending order and slice the first 10 items
for rank in sorted(names, reverse=True)[:10]:
    # Print each item
    print(names[rank])

CHAVY
AMINA
LAILA
MICHELLE
SERENITY
SUMMER
SARAH
MADISON

### Safely finding by key

if you attempt to access a key that isn't present in a dictionary, you'll get a KeyError. One option to handle this type of error is to use a try: except: block.

Python provides a faster, more versatile tool to help with this problem in the form of the .get() method. The .get() method allows you to supply the name of a key, and optionally, what you'd like to have returned if the key is not found.

In [22]:
names = {1: 'EMMA', 2: 'LEAH', 3: 'SARAH', 4: 'SOPHIA', 5: 'ESTHER', 6: 'RACHEL', 7: 'CHAYA', 8: 'AVA', 9: 'CHANA'}

# Safely print rank 7 from the names dictionary
print(names.get(7))

# Safely print the type of rank 100 from the names dictionary
print(type(names.get(2)))

# Safely print rank 105 from the names dictionary or 'Not Found'
print(names.get(105, 'Not Found'))

CHAYA
<type 'str'>
Not Found

### Adding and extending dictionaries

If you have a dictionary and you want to add data to it, you can simply create a new key and assign the data you desire to it. It's important to remember that if it's a nested dictionary, then all the keys in the data path must exist, and each key in the path must be assigned individually.

You can also use the .update() method to update a dictionary with keys and values from another dictionary, tuples or keyword arguments.

In [43]:
names_2011 = {1: 'Michael', 2: 'Joseph', 3: 'Jacob', 4: 'David', 5: 'Benjamin', 6: 'Moshe', 7: 'Daniel', 8: 'Alexander}
boy_names = {2012: {}, 2013: {1: 'David',  2: 'Joseph',  3: 'Michael',  4: 'Moshe',  5: 'Daniel',  6: 'Benjamin',  7: 'James}}

# Assign the names_2011 dictionary as the value to the 2011 key of boy_names
boy_names[2011] = names_2011

# Update the 2012 key in the boy_names dictionary
boy_names[2012].update([(1,'Casey'), (2,'Aiden')])

# Loop over the boy_names dictionary 
for year in boy_names:
    # Loop over and sort the data for each year by descending rank
    for rank in sorted(boy_names[year], reverse=True)[:1]:
        # Check that you have a rank
        if not rank:
            print(year, 'No Data Available')
        # Safely print the year and the least popular name or 'Not Available'
        print(year, boy_names[year].get(rank, 'Not Available'))

SyntaxError: EOL while scanning string literal (<ipython-input-43-9b19e9bc66fd>, line 1)

### Popping and deleting from dictionaries

Often, you will want to remove keys and value from a dictionary. You can do so using the del Python instruction. It's important to remember that del will throw a KeyError if the key you are trying to delete does not exist. You can not use it with the .get() method to safely delete items; however, it can be used with try: catch:.

If you want to save that deleted data into another variable for further processing, the .pop() dictionary method will do just that. You can supply a default value for .pop() much like you did for .get() to safely deal with missing keys. It's also typical to use .pop() instead of del since it is a safe method.

In [39]:
female_names = {2011: {1: 'Olivia',  2: 'Esther',  3: 'Rachel',  4: 'Leah',  5: 'Emma',  6: 'Chaya',  7: 'Sarah',  8: 'Sophia',  9: 'Ava',  10: 'Miriam'}, 2012: {}, 2013: {1: 'Olivia',  2: 'Emma',  3: 'Esther',  4: 'Sophia',  5: 'Sarah',  6: 'Leah',  7: 'Rachel',  8: 'Chaya',  9: 'Miriam',  10: 'Chana'}, 2014: {1: 'Olivia',  2: 'Esther',  3: 'Rachel',  4: 'Leah',  5: 'Emma',  6: 'Chaya',  7: 'Sarah',  8: 'Sophia',  9: 'Ava', 10: 'Miriam'}}

In [41]:
# Remove 2011 and store it: female_names_2011
female_names_2011 = female_names.pop(2011)

# Safely remove 2015 with an empty dictionary as the default: female_names_2015
female_names_2015 = female_names.pop(2015,{})

# Delete 2012
del female_names[2012]

# Print female_names
print(female_names)

{2013: {1: 'Olivia', 2: 'Emma', 3: 'Esther', 4: 'Sophia', 5: 'Sarah', 6: 'Leah', 7: 'Rachel', 8: 'Chaya', 9: 'Miriam', 10: 'Chana'}, 2014: {1: 'Olivia', 2: 'Esther', 3: 'Rachel', 4: 'Leah', 5: 'Emma', 6: 'Chaya', 7: 'Sarah', 8: 'Sophia', 9: 'Ava', 10: 'Miriam'}}