# Manipulating DataFrames with pandas

- Extracting, filtering, and transforming data from DataFrames
- Advanced indexing with multiple levels
- Tidying, rearranging and restructuring your data
- Pivoting, melting, and stacking DataFrames
- Identifying and spli!ing DataFrames by groups

In [12]:
import pandas as pd

df = pd.read_csv('sampledata.csv')

df.head()

,ITEM_NO,AMC Item Number,ITEM_DESC,Logic Count,Seafrigo Count,Discrepancy (cases),Discrepancy Value,ACTIVE/INACTIVE
0,44207509,L044207509,"DRAWER, DELTA VARIO ATLAS 120MM",1335,2235,900,"$25,945.19",False
1,44207668,L044207668,"TOILET PAPER, COTTENELLE",445,985,540,"$17,813.36",False
2,44207958,L044207958,"LINER, TRASH CAN, DOM SM",259,759,500,"$14,445.00",False
3,44208068,L044208068,"BLANKET, YC (G&G)",371,811,440,"$94,467.70",False
4,44207583,L044207583,"FOAMING SOAP, SQUARE M+G 5.4 oz",523,885,362,"$63,712.00",False

In [6]:
df.columns

Index([u'ITEM_NO', u' AMC Item Number ', u'ITEM_DESC', u'Logic Count',
       u'Seafrigo Count', u'Discrepancy (cases)', u' Discrepancy Value ',
       u'ACTIVE/INACTIVE'],
      dtype='object')

### Index ordering

In [13]:
df.loc[1, 'ITEM_NO']

'44207668'

### Positional and labeled indexing

Given a pair of label-based indices, sometimes it's necessary to find the corresponding positions.

In [15]:
print(df.iloc[3, 4])

811

### Indexing and column rearrangement

In [16]:
# Read in filename and set the index: election
election = pd.read_csv('sampledata.csv', index_col='ITEM_NO')

# Create a separate dataframe with the columns ['winner', 'total', 'voters']: results
results = pd.DataFrame(election, columns=['ITEM_DESC', 'Logic Count', 'Seafrigo Count'])

# Print the output of results.head()
print(results.head())

                                ITEM_DESC  Logic Count  Seafrigo Count
ITEM_NO
44207509  DRAWER, DELTA VARIO ATLAS 120MM         1335            2235
44207668         TOILET PAPER, COTTENELLE          445             985
44207958         LINER, TRASH CAN, DOM SM          259             759
44208068                BLANKET, YC (G&G)          371             811
44207583  FOAMING SOAP, SQUARE M+G 5.4 oz          523             885

### Slicing DataFrames

### Slicing rows

In [17]:
# Slice the row labels 'Perry' to 'Potter': p_counties
p_counties = election.loc['44207509':'44208068':]

# Print the p_counties DataFrame
print(p_counties)

# Slice the row labels 'Potter' to 'Perry' in reverse order: p_counties_rev
p_counties_rev = election.loc['44208068':'44207509':-1]

# Print the p_counties_rev DataFrame
print(p_counties_rev)

          AMC Item Number                         ITEM_DESC  Logic Count  \
ITEM_NO
44207509       L044207509   DRAWER, DELTA VARIO ATLAS 120MM         1335
44207668       L044207668          TOILET PAPER, COTTENELLE          445
44207958       L044207958          LINER, TRASH CAN, DOM SM          259
44208068       L044208068                 BLANKET, YC (G&G)          371

          Seafrigo Count  Discrepancy (cases)  Discrepancy Value   \
ITEM_NO
44207509            2235                  900         $25,945.19
44207668             985                  540         $17,813.36
44207958             759                  500         $14,445.00
44208068             811                  440         $94,467.70

         ACTIVE/INACTIVE
ITEM_NO
44207509           False
44207668           False
44207958           False
44208068           False
          AMC Item Number                         ITEM_DESC  Logic Count  \
ITEM_NO
44208068       L044208068                 BLANKET, YC (G&G)          371
44207958       L044207958          LINER, TRASH CAN, DOM SM          259
44207668       L044207668          TOILET PAPER, COTTENELLE          445
44207509       L044207509   DRAWER, DELTA VARIO ATLAS 120MM         1335

          Seafrigo Count  Discrepancy (cases)  Discrepancy Value   \
ITEM_NO
44208068             811                  440         $94,467.70
44207958             759                  500         $14,445.00
44207668             985                  540         $17,813.36
44207509            2235                  900         $25,945.19

         ACTIVE/INACTIVE
ITEM_NO
44208068           False
44207958           False
44207668           False
44207509           False

### Slicing columns

In [18]:
# Slice the columns from the starting column to 'Obama': left_columns
left_columns = election.loc[:,:'Seafrigo Count']

# Print the output of left_columns.head()
print(left_columns.head(5))

# Slice the columns from 'Obama' to 'winner': middle_columns
middle_columns = election.loc[:,'Logic Count':'Seafrigo Count']

# Print the output of middle_columns.head()
print(middle_columns.head(5))

# Slice the columns from 'Romney' to the end: 'right_columns'
right_columns = election.loc[:,'Logic Count':]

# Print the output of right_columns.head()
print(right_columns.head(5))

          AMC Item Number                         ITEM_DESC  Logic Count  \
ITEM_NO
44207509       L044207509   DRAWER, DELTA VARIO ATLAS 120MM         1335
44207668       L044207668          TOILET PAPER, COTTENELLE          445
44207958       L044207958          LINER, TRASH CAN, DOM SM          259
44208068       L044208068                 BLANKET, YC (G&G)          371
44207583       L044207583   FOAMING SOAP, SQUARE M+G 5.4 oz          523

          Seafrigo Count
ITEM_NO
44207509            2235
44207668             985
44207958             759
44208068             811
44207583             885
          Logic Count  Seafrigo Count
ITEM_NO
44207509         1335            2235
44207668          445             985
44207958          259             759
44208068          371             811
44207583          523             885
          Logic Count  Seafrigo Count  Discrepancy (cases)  \
ITEM_NO
44207509         1335            2235                  900
44207668          445             985                  540
44207958          259             759                  500
44208068          371             811                  440
44207583          523             885                  362

          Discrepancy Value  ACTIVE/INACTIVE
ITEM_NO
44207509         $25,945.19            False
44207668         $17,813.36            False
44207958         $14,445.00            False
44208068         $94,467.70            False
44207583         $63,712.00            False

### Subselecting DataFrames with lists

You can use lists to select specific row and column labels with the .loc[] accessor

In [19]:
# Create the list of row labels: rows
rows = ['44207583', '44207668', '44207958']

# Create the list of column labels: cols
cols = ['Seafrigo Count', 'Logic Count', 'ACTIVE/INACTIVE']

# Create the new DataFrame: three_counties
three_counties = election.loc[rows,cols]

# Print the three_counties DataFrame
print(three_counties)

          Seafrigo Count  Logic Count ACTIVE/INACTIVE
ITEM_NO
44207583             885          523           False
44207668             985          445           False
44207958             759          259           False

## Filtering DataFrames

### Thresholding data

In [22]:
# Create the boolean array: high_turnout
high_turnout = election[' Discrepancy Value '] > 70

# Filter the election DataFrame with the high_turnout array: high_turnout_df
high_turnout_df = election[high_turnout]

# Print the high_turnout_results DataFrame
print(high_turnout_df)

              AMC Item Number                                 ITEM_DESC  \
ITEM_NO
44207509           L044207509           DRAWER, DELTA VARIO ATLAS 120MM
44207668           L044207668                  TOILET PAPER, COTTENELLE
44207958           L044207958                  LINER, TRASH CAN, DOM SM
44208068           L044208068                         BLANKET, YC (G&G)
44207583           L044207583           FOAMING SOAP, SQUARE M+G 5.4 oz
44207984           L044207984                             STICK, TRUVIA
44206683           L044206683            TOWEL, CLEANING WIPE (CS ONLY)
44206359           L044206359                ATLAS FULL MEALTRAY, WHITE
44207770           L044207770                          TRAY, ATLAS FULL
44207015           L044207015        SWEETENER, PINK, STIX w/DELTA LOGO
44206821           L044206821           BAG, BLACK SML PLSTC 30x37 1MIL
44207643           L044207643                      TOPPER, CART - PAPER
44206916           L044206916                        LID, FOIL FOR 6915
44204854           L044204854      SEAL, RED PLASTIC HEADSET/LIQUOR KIT
44207959           L044207959                 LINER, TRASH CAN, INTL LG
44207725           L044207725                               GLASS, WINE
44201089           L044201089                  COVER, PAPER TOILET SEAT
44207929           L044207929               CUP, PLASTIC EMBOSSED 11OZ.
44207771           L044207771                           TRAY, ATLAS 2/3
44207520           L044207520                 BASKET, RECTANGULAR FRUIT
044906600-TP    L044906600-TP   WINE, SPARKLING 187ML, LAMARCA PROSECCO
44206162           L044206162                      NAPKIN, SANITARY PAD
44208089           L044208089                         GLASS, ROCKS 8 OZ
44207773           L044207773                          TRAY DL STD FULL
44207778           L044207778                      LID, ASIAN BOWL RICE
44207838           L044207838                                  MITT, BE
44207927           L044207927                      CTO, BEVERAGE SERVER
44207772           L044207772                            TRAY ATLAS 1/2
44207947           L044207947                          BLANKET, FC GREY
44206280           L044206280                            GLASS, MARTINI
...                        ...                                      ...
44208009           L044208009                        MILK CHOC TRUFFLES
44208039           L044208039                         OBERTO BEEF JERKY
44208059           L044208059              RED ICE CREAM SPOON & NAPKIN
44206432           L044206432           BE SQUARE RAMEKIN, LARGE 3-1/8"
44207038           L044207038                  TRAY, SLOTTED BEV 12-CUP
44207512           L044207512                 BE TEA, ORGANIC GREEN TEA
44207614           L044207614                     LID F.BOWL LARGE 8730
44207669           L044207669                          TOWEL, SCOTTFOLD
44207749           L044207749                           SHAKER, MARTINI
44207923           L044207923                         TRAY, SERVING S/S
44208098           L044208098        TRAY, DOM ECONOMY - BAGASSE - TPPI
44207636           L044207636              BAG, EARBUD RECOVERY 14"X18"
44207701           L044207701                               PLATE SMALL
44207960           L044207960                 LINER, TRASH CAN, INTL SM
44206755           L044206755          DIVIDER, 12-SECTION CRA-4201 NWA
44206983           L044206983                            BAG, BE PILLOW
44208036           L044208036     DELTA PREMIUM AMENITY LAUNCH KIT 2017
44207225           L044207225           NAPKIN, LINEN, BEIGE BUTTONHOLE
44207949           L044207949               CUP, PLASTIC EMBOSSED 11OZ.
44208030           L044208030          CHOPSTICKS, JAPANESE AND WRAPPER
44207913           L044207913                     DRAWER, ATLAS ICE CTO
44207922           L044207922                         TRAY, PICK UP S/S
44208000           L044208000                       COVER, CART BE GRAY
44207510           L044207510     LINER, STANDARD ICE THERMOFORMED HDPE
44207708           L044207708                                MUG COFFEE
44207924           L044207924      BASKET, RECT STAINLESS STEEL - LARGE
44207307           L044207307               BLANKET, DELTA HEAVENLY BED
44208035           L044208035                    DELTA ECONOMY KIT 2017
44207439           L044207439                           MARGARITA MIXER
44206947           L044206947                         CUTLERY, PACK 6/1

              Logic Count  Seafrigo Count  Discrepancy (cases)  \
ITEM_NO
44207509             1335            2235                  900
44207668              445             985                  540
44207958              259             759                  500
44208068              371             811                  440
44207583              523             885                  362
44207984               39             327                  288
44206683              718             918                  200
44206359              637             837                  200
44207770              272             462                  190
44207015               61             205                  144
44206821               37             167                  130
44207643               27             147                  120
44206916              281             381                  100
44204854               32             128                   96
44207959              743             837                   94
44207725             4010            4094                   84
44201089              113             193                   80
44207929             6800            6863                   63
44207771               39              99                   60
44207520              131             181                   50
044906600-TP            0              46                   46
44206162              151             191                   40
44208089              240             278                   38
44207773               16              51                   35
44207778               82             108                   26
44207838               26              50                   24
44207927              601             621                   20
44207772                0              17                   17
44207947             1010            1027                   17
44206280                0              12                   12
...                   ...             ...                  ...
44208009                0               0                    0
44208039                0               0                    0
44208059                0               0                    0
44206432               29              28                   -1
44207038              244             243                   -1
44207512              408             407                   -1
44207614               71              70                   -1
44207669             1140            1139                   -1
44207749               89              88                   -1
44207923                1               0                   -1
44208098             1011            1010                   -1
44207636               91              90                   -1
44207701              565             564                   -1
44207960              948             947                   -1
44206755                4               3                   -1
44206983              206             205                   -1
44208036              261             260                   -1
44207225              508             506                   -2
44207949             6815            6813                   -2
44208030               17              15                   -2
44207913              916             913                   -3
44207922               52              48                   -4
44208000              155             151                   -4
44207510              167             162                   -5
44207708             4634            4629                   -5
44207924              286             276                  -10
44207307               54              37                  -17
44208035              763             740                  -23
44207439              206             178                  -28
44206947              917             869                  -48

              Discrepancy Value  ACTIVE/INACTIVE
ITEM_NO
44207509             $25,945.19            False
44207668             $17,813.36            False
44207958             $14,445.00            False
44208068             $94,467.70            False
44207583             $63,712.00            False
44207984              $6,912.00            False
44206683              $8,342.05            False
44206359              $5,780.00            False
44207770             $37,972.00            False
44207015              $2,373.86            False
44206821              $1,937.46            False
44207643              $5,886.03            False
44206916              $2,280.00            False
44204854              $2,040.00            False
44207959              $2,565.26            False
44207725              $2,528.06            False
44201089              $2,698.80            False
44207929                $899.01            False
44207771              $9,601.20            False
44207520              $3,036.00            False
044906600-TP          $2,978.50            False
44206162                $887.13            False
44208089              $1,162.80            False
44207773              $6,595.75            False
44207778             $10,882.40            False
44207838              $1,930.75            False
44207927              $2,340.94            False
44207772              $3,728.10            False
44207947              $2,407.46            False
44206280                $137.16            False
...                          ...             ...
44208009                  $0.00              NaN
44208039                  $0.00              NaN
44208059                  $0.00              NaN
44206432                ($31.56)           False
44207038                ($75.75)           False
44207512                 ($7.02)           False
44207614                ($63.29)           False
44207669                ($27.25)           False
44207749                ($46.64)           False
44207923                ($91.80)           False
44208098                ($39.25)           False
44207636                ($25.80)           False
44207701                ($26.93)           False
44207960                ($18.60)           False
44206755               ($144.00)           False
44206983                ($51.38)           False
44208036               ($109.32)           False
44207225               ($148.89)           False
44207949                ($28.80)           False
44208030               ($247.20)           False
44207913               ($164.88)           False
44207922               ($316.32)           False
44208000               ($459.17)           False
44207510               ($493.20)           False
44207708                ($78.12)           False
44207924               ($948.80)           False
44207307               ($515.10)           False
44208035             ($2,760.00)           False
44207439             ($1,411.20)           False
44206947             ($1,681.06)           False

[1344 rows x 7 columns]

In [21]:
election.columns

Index([u' AMC Item Number ', u'ITEM_DESC', u'Logic Count', u'Seafrigo Count',
       u'Discrepancy (cases)', u' Discrepancy Value ', u'ACTIVE/INACTIVE'],
      dtype='object')

### Filtering columns using other columns

In [23]:
# Import numpy
import numpy as np

# Create the boolean array: too_close
too_close = election[' Discrepancy Value '] < 10

# Assign np.nan to the 'winner' column where the results were too close to call
election['ACTIVE/INACTIVE'][too_close] = np.nan

# Print the output of election.info()
print(election.info())

<class 'pandas.core.frame.DataFrame'>
Index: 1344 entries, 44207509 to 44206947
Data columns (total 7 columns):
 AMC Item Number       1344 non-null object
ITEM_DESC              1344 non-null object
Logic Count            1344 non-null int64
Seafrigo Count         1344 non-null int64
Discrepancy (cases)    1344 non-null int64
 Discrepancy Value     1344 non-null object
ACTIVE/INACTIVE        1312 non-null object
dtypes: int64(3), object(4)
memory usage: 124.0+ KB
None

C:\Users\SSari\AppData\Local\Continuum\Anaconda2\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

### Filtering using NaNs

In certain scenarios, it may be necessary to remove rows and columns with missing data from a DataFrame. The .dropna() method is used to perform this action.

also use the .shape attribute, which returns the number of rows and columns in a tuple from a DataFrame, or the number of rows from a Series, to see the effect of dropping missing values from a DataFrame.

Finally, you'll use the thresh= keyword argument to drop columns from the full dataset that have more than 1000 missing values.

In [25]:
# Select the 'age' and 'cabin' columns: df
df = election[['Logic Count','Seafrigo Count']]

# Print the shape of df
print(df.shape)

# Drop rows in df with how='any' and print the shape
print(df.dropna(how='any').shape)

# Drop rows in df with how='all' and print the shape
print(df.dropna(how='all').shape)

# Call .dropna() with thresh=1000 and axis='columns' and print the output of .info() from titanic
print(election.dropna(thresh=1000, axis='columns').info())

(1344, 2)
(1344, 2)
(1344, 2)
<class 'pandas.core.frame.DataFrame'>
Index: 1344 entries, 44207509 to 44206947
Data columns (total 7 columns):
 AMC Item Number       1344 non-null object
ITEM_DESC              1344 non-null object
Logic Count            1344 non-null int64
Seafrigo Count         1344 non-null int64
Discrepancy (cases)    1344 non-null int64
 Discrepancy Value     1344 non-null object
ACTIVE/INACTIVE        1312 non-null object
dtypes: int64(3), object(4)
memory usage: 124.0+ KB
None

## Transforming DataFrames

### Using apply() to transform a column

The .apply() method can be used on a pandas DataFrame to apply an arbitrary Python function to every element

# Write a function to convert degrees Fahrenheit to degrees Celsius: to_celsius
def to_celsius(F):
    return 5/9*(F - 32)

# Apply the function over 'Mean TemperatureF' and 'Mean Dew PointF': df_celsius
df_celsius = weather[['Mean TemperatureF', 'Mean Dew PointF']].apply(to_celsius)

# Reassign the columns df_celsius
df_celsius.columns = ['Mean TemperatureC', 'Mean Dew PointC']

# Print the output of df_celsius.head()
print(df_celsius.head())

### Using .map() with a dictionary

The .map() method is used to transform values according to a Python dictionary look-up

# Create the dictionary: red_vs_blue
red_vs_blue = {'Obama':'blue','Romney':'red'}

# Use the dictionary to map the 'winner' column to the new column: election['color']
election['color'] = election['winner'].map(red_vs_blue)

# Print the output of election.head()
print(election.head())

### Using vectorized functions
When performance is paramount, you should avoid using .apply() and .map() because those constructs perform Python for-loops over the data stored in a pandas Series or DataFrame. By using vectorized functions instead, you can loop over the data at the same speed as compiled code (C, Fortran, etc.)! NumPy, SciPy and pandas come with a variety of vectorized functions (called Universal Functions or UFuncs in NumPy).

You can even write your own vectorized functions

# Import zscore from scipy.stats
from scipy.stats import zscore

# Call zscore with election['turnout'] as input: turnout_zscore
turnout_zscore = zscore(election['turnout'])

# Print the type of turnout_zscore
print(type(turnout_zscore))

# Assign turnout_zscore to a new column: election['turnout_zscore']
election['turnout_zscore'] = turnout_zscore

# Print the output of election.head()
print(election.head())

## Advanced indexing

### Index objects and labeled data
##### pandas Data Structures
- Key building blocks
 - Indexes: Sequence of labels
 - Series: 1D array with Index
 - DataFrames: 2D array with Series as columns 
- Indexes
 - Immutable (Like dictionary keys) 
 - Homogenous in data type (Like NumPy arrays)

### Changing index of a DataFrame

A list comprehension is a succinct way to generate a list in one line. For example, the following list comprehension generates a list that contains the cubes of all numbers from 0 to 9: cubes = [i**3 for i in range(10)]. This is equivalent to the following code:

cubes = []
for i in range(10):
    cubes.append(i**3)

In [19]:
import pandas as pd

auto = pd.read_csv('auto.csv', index_col='origin ')

auto.head()

,mpg,cyl,displ,hp,weight,accel,yr,name,color,size,maker
origin,,,,,,,,,,,
US,18.0,6,250,88,3139,14.5,71,ford mustang,red,27.370336,o
US,9.0,8,304,193,4732,18.5,70,hi 1200d,green,62.199511,o
Asia,36.1,4,91,60,1800,16.4,78,honda civic cvcc,blue,9.000000,x
US,18.5,6,250,98,3525,19.0,77,ford granada,red,34.515625,o
Europe,34.3,4,97,78,2188,15.8,80,audi 4000,blue,13.298178,s

In [20]:
# Create the list of new indexes: new_idx
new_idx = [x.lower() for x in auto.index]

# Assign new_idx to sales.index
auto.index = new_idx

# Print the sales DataFrame
print(auto.head())

         mpg  cyl  displ   hp  weight  accel  yr              name  color  \
us      18.0    6    250   88    3139   14.5  71      ford mustang    red
us       9.0    8    304  193    4732   18.5  70          hi 1200d  green
asia    36.1    4     91   60    1800   16.4  78  honda civic cvcc   blue
us      18.5    6    250   98    3525   19.0  77      ford granada    red
europe  34.3    4     97   78    2188   15.8  80         audi 4000   blue

             size maker
us      27.370336     o
us      62.199511     o
asia     9.000000     x
us      34.515625     o
europe  13.298178     s

### Changing index name labels

In [24]:
# Assign the string 'MONTHS' to sales.index.name
auto.index.name = 'CONTINENTS'

# Print the sales DataFrame
print(auto.head())

# Assign the string 'PRODUCTS' to sales.columns.name 
auto.columns.name = 'FEATURES'

# Print the sales dataframe again
print(auto.head())

             mpg  cyl  displ   hp  weight  accel  yr              name  color  \
CONTINENTS
us          18.0    6    250   88    3139   14.5  71      ford mustang    red
us           9.0    8    304  193    4732   18.5  70          hi 1200d  green
asia        36.1    4     91   60    1800   16.4  78  honda civic cvcc   blue
us          18.5    6    250   98    3525   19.0  77      ford granada    red
europe      34.3    4     97   78    2188   15.8  80         audi 4000   blue

                 size maker
CONTINENTS
us          27.370336     o
us          62.199511     o
asia         9.000000     x
us          34.515625     o
europe      13.298178     s
FEATURES     mpg  cyl  displ   hp  weight  accel  yr              name  color  \
CONTINENTS
us          18.0    6    250   88    3139   14.5  71      ford mustang    red
us           9.0    8    304  193    4732   18.5  70          hi 1200d  green
asia        36.1    4     91   60    1800   16.4  78  honda civic cvcc   blue
us          18.5    6    250   98    3525   19.0  77      ford granada    red
europe      34.3    4     97   78    2188   15.8  80         audi 4000   blue

FEATURES         size maker
CONTINENTS
us          27.370336     o
us          62.199511     o
asia         9.000000     x
us          34.515625     o
europe      13.298178     s

### Building an index, then a DataFrame

You can also build the DataFrame and index independently, and then put them together. If you take this route, be careful, as any mistakes in generating the DataFrame or the index can cause the data and the index to be aligned incorrectly

In [26]:
# Generate the list of months: months
months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun','Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun','Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun','Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun','Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun']

# Assign months to sales.index
auto.index = months

# Print the modified sales DataFrame
print(auto.head())

FEATURES   mpg  cyl  displ   hp  weight  accel  yr              name  color  \
Jan       18.0    6    250   88    3139   14.5  71      ford mustang    red
Feb        9.0    8    304  193    4732   18.5  70          hi 1200d  green
Mar       36.1    4     91   60    1800   16.4  78  honda civic cvcc   blue
Apr       18.5    6    250   98    3525   19.0  77      ford granada    red
May       34.3    4     97   78    2188   15.8  80         audi 4000   blue

FEATURES       size maker
Jan       27.370336     o
Feb       62.199511     o
Mar        9.000000     x
Apr       34.515625     o
May       13.298178     s

## Hierarchical indexing

### Extracting data with a MultiIndex

Extracting elements from the outermost level of a MultiIndex is just like in the case of a single-level Index. You can use the .loc[] accessor

# Print sales.loc[['CA', 'TX']]
print(auto.loc[['CA', 'TX']])

# Print sales['CA':'TX']
print(auto['CA':'TX'])

<script.py> output:
                 eggs  salt  spam
    state month                  
    CA    1        47  12.0    17
          2       110  50.0    31
    TX    1       132   NaN    52
          2       205  60.0    55

After it Runs:
        
                 eggs  salt  spam
    state month                  
    CA    1        47  12.0    17
          2       110  50.0    31
    NY    1       221  89.0    72
          2        77  87.0    20
    TX    1       132   NaN    52
          2       205  60.0    55

### Setting & sorting a MultiIndex

With a MultiIndex, you should always ensure the index is sorted. You can skip this only if you know the data is already sorted on the index fields.

# Set the index to be the columns ['state', 'month']: sales
sales = sales.set_index(['state', 'month'])

# Sort the MultiIndex: sales
sales = sales.sort_index()

# Print the sales DataFrame
print(sales)

<script.py> output:
                 eggs  salt  spam
    state month                  
    CA    1        47  12.0    17
          2       110  50.0    31
    NY    1       221  89.0    72
          2        77  87.0    20
    TX    1       132   NaN    52
          2       205  60.0    55

### Using .loc[] with nonunique indexes

it is always preferable to have a meaningful index that uniquely identifies each row. Even though pandas does not require unique index values in DataFrames, it works better if the index values are indeed unique.

# Set the index to the column 'state': sales
sales = sales.set_index('state')

# Print the sales DataFrame
print(sales)

# Access the data from 'NY'
print(sales.loc['NY'])

<script.py> output:
           month  eggs  salt  spam
    state                         
    CA         1    47  12.0    17
    CA         2   110  50.0    31
    NY         1   221  89.0    72
    NY         2    77  87.0    20
    TX         1   132   NaN    52
    TX         2   205  60.0    55
           month  eggs  salt  spam
    state                         
    NY         1   221  89.0    72
    NY         2    77  87.0    20

### Indexing multiple levels of a MultiIndex

Looking up indexed data is fast and efficient. And you have already seen that lookups based on the outermost level of a MultiIndex work just like lookups on DataFrames that have a single-level Index.

Looking up data based on inner levels of a MultiIndex can be a bit trickier. In this exercise, you will use your sales DataFrame to do some increasingly complex lookups.

The trickiest of all these lookups are when you want to access some inner levels of the index. In this case, you need to use slice(None) in the slicing parameter for the outermost dimension(s) instead of the usual :, or use pd.IndexSlice. 

stocks.loc[(slice(None), slice('2016-10-03', '2016-10-04')), :]

Pay particular attention to the tuple (slice(None), slice('2016-10-03', '2016-10-04')).

# Look up data for NY in month 1: NY_month1
NY_month1 = sales.loc[('NY', 1), :]

# Look up data for CA and TX in month 2: CA_TX_month2
CA_TX_month2 = sales.loc[(['CA', 'TX'], 2), :]

# Look up data for all states in month 2: all_month2
all_month2 = sales.loc[(slice(None), 2), :]

## Pivoting DataFrames

### Pivoting a single variable

Suppose you started a blog for a band, and you would like to log how many visitors you have had, and how many signed-up for your newsletter. To help design the tours later, you track where the visitors are. A DataFrame called users consisting of this information has been pre-loaded for you.

Inspect users in the IPython Shell and make a note of which variable you want to use to index the rows ('weekday'), which variable you want to use to index the columns ('city'), and which variable will populate the values in the cells ('visitors'). Try to visualize what the result should be.

For example, in the video, Dhavide used 'treatment' to index the rows, 'gender' to index the columns, and 'response' to populate the cells. Prior to pivoting, the DataFrame looked like this:

   id treatment gender  response
0   1         A      F         5
1   2         A      M         3
2   3         B      F         8
3   4         B      M         9

After pivoting:

gender     F  M
treatment      
A          5  3
B          8  9

# Pivot the users DataFrame: visitors_pivot
visitors_pivot = users.pivot(index='weekday',columns='city',values='visitors')

# Print the pivoted DataFrame
print(visitors_pivot)

<script.py> output:
    city     Austin  Dallas
    weekday                
    Mon         326     456
    Sun         139     237

### Pivoting all variables

If you do not select any particular variables, all of them will be pivoted. In this case - with the users DataFrame - both 'visitors' and 'signups' will be pivoted, creating hierarchical column labels.

# Pivot users with signups indexed by weekday and city: signups_pivot
signups_pivot = users.pivot(index='weekday',columns='city',values='signups')

# Print signups_pivot
print(signups_pivot)

# Pivot users pivoted by both signups and visitors: pivot
pivot = users.pivot(index='weekday',columns='city')

# Print the pivoted DataFrame
print(pivot)

<script.py> output:
    city     Austin  Dallas
    weekday                
    Mon           3       5
    Sun           7      12
            visitors        signups       
    city      Austin Dallas  Austin Dallas
    weekday                               
    Mon          326    456       3      5
    Sun          139    237       7     12

### Stacking & unstacking DataFrames

In [42]:
# Unstack users by 'weekday': byweekday
byweekday = auto.unstack('maker')

# Print the byweekday DataFrame
print(byweekday.head())

# Stack byweekday by 'weekday' and print it
print(auto.stack(level='FEATURES').head())

FEATURES
mpg       Jan      18
          Feb       9
          Mar    36.1
          Apr    18.5
          May    34.3
dtype: object
     FEATURES
Jan  mpg           18
     cyl            6
     displ        250
     hp            88
     weight      3139
dtype: object

### Restoring the index order

You will now use .swaplevel(0, 1) to flip the index levels. Note they won't be sorted. To sort them, you will have to follow up with a .sort_index(). You will then obtain the original DataFrame. Note that an unsorted index leads to slicing failures.

In [49]:
# Stack 'city' back into the index of bycity: newusers
newusers = auto.stack(level='FEATURES')

# Swap the levels of the index of newusers: newusers
newusers = newusers.swaplevel(0,1)

# Print newusers and verify that the index is not sorted
print(newusers)

# Sort the index of newusers: newusers
newusers = newusers.sort_index()

# Print newusers and verify that the index is now sorted
print(newusers.head())

# Verify that the new DataFrame is equal to the original
print(newusers.equals(auto))

FEATURES
mpg       Jan                       18
cyl       Jan                        6
displ     Jan                      250
hp        Jan                       88
weight    Jan                     3139
accel     Jan                     14.5
yr        Jan                       71
name      Jan             ford mustang
color     Jan                      red
size      Jan                  27.3703
maker     Jan                        o
mpg       Feb                        9
cyl       Feb                        8
displ     Feb                      304
hp        Feb                      193
weight    Feb                     4732
accel     Feb                     18.5
yr        Feb                       70
name      Feb                 hi 1200d
color     Feb                    green
size      Feb                  62.1995
maker     Feb                        o
mpg       Mar                     36.1
cyl       Mar                        4
displ     Mar                       91
hp        Mar                       60
weight    Mar                     1800
accel     Mar                     16.4
yr        Mar                       78
name      Mar         honda civic cvcc
                         ...
hp        Apr                       95
weight    Apr                     2372
accel     Apr                       15
yr        Apr                       70
name      Apr    toyota corona mark ii
color     Apr                     blue
size      Apr                  15.6288
maker     Apr                        x
mpg       May                       21
cyl       May                        6
displ     May                      231
hp        May                      110
weight    May                     3039
accel     May                       15
yr        May                       75
name      May            buick skyhawk
color     May                      red
size      May                  25.6542
maker     May                        o
mpg       Jun                     31.3
cyl       Jun                        4
displ     Jun                      120
hp        Jun                       75
weight    Jun                     2542
accel     Jun                     17.5
yr        Jun                       80
name      Jun                mazda 626
color     Jun                     blue
size      Jun                  17.9493
maker     Jun                        x
Length: 330, dtype: object
FEATURES
accel     Apr      19
          Apr    10.5
          Apr      14
          Apr      21
          Apr      15
dtype: object
False

## Melting DataFrames

### Adding names for readability

In [54]:
# Reset the index: visitors_by_city_weekday
visitors_by_city_weekday = auto.reset_index() 

# Print visitors_by_city_weekday
print(visitors_by_city_weekday.head())

# Melt visitors_by_city_weekday: visitors
visitors = pd.melt(visitors_by_city_weekday, id_vars=['mpg'], value_name='yr')

# Print visitors
print(visitors.head())

FEATURES index   mpg  cyl  displ   hp  weight  accel  yr              name  \
0          Jan  18.0    6    250   88    3139   14.5  71      ford mustang
1          Feb   9.0    8    304  193    4732   18.5  70          hi 1200d
2          Mar  36.1    4     91   60    1800   16.4  78  honda civic cvcc
3          Apr  18.5    6    250   98    3525   19.0  77      ford granada
4          May  34.3    4     97   78    2188   15.8  80         audi 4000

FEATURES  color       size maker
0           red  27.370336     o
1         green  62.199511     o
2          blue   9.000000     x
3           red  34.515625     o
4          blue  13.298178     s
    mpg FEATURES   yr
0  18.0    index  Jan
1   9.0    index  Feb
2  36.1    index  Mar
3  18.5    index  Apr
4  34.3    index  May

### Going from wide to long

You can move multiple columns into a single column (making the data long and skinny) by "melting" multiple columns. In this exercise, you will practice doing this.

In [55]:
# Melt users: skinny
skinny = pd.melt(auto, id_vars=['name', 'maker'], value_vars=['yr','hp'])

# Print skinny
print(skinny)

                                name maker FEATURES  value
0                       ford mustang     o       yr     71
1                           hi 1200d     o       yr     70
2                   honda civic cvcc     x       yr     78
3                       ford granada     o       yr     77
4                          audi 4000     s       yr     80
5                       datsun 200sx     x       yr     81
6                     toyota corolla     x       yr     80
7                volkswagen 411 (sw)     s       yr     72
8            mercury cougar brougham     o       yr     77
9                        ford torino     o       yr     70
10                         vw pickup     s       yr     82
11             pontiac sunbird coupe     o       yr     77
12                     dodge rampage     o       yr     82
13                          ford ltd     o       yr     75
14             chevrolet monte carlo     o       yr     70
15  chevrolet chevelle concours (sw)     o       yr     72
16                     renault 5 gtl     s       yr     77
17                        chevy s-10     o       yr     82
18               toyota corolla 1200     x       yr     74
19                        mazda rx-4     x       yr     77
20           plymouth valiant custom     o       yr     75
21                     buick century     o       yr     75
22                  ford gran torino     o       yr     74
23               dodge challenger se     o       yr     70
24                     pontiac astro     o       yr     75
25              fiat 124 sport coupe     s       yr     73
26                  toyota celica gt     x       yr     82
27             toyota corona mark ii     x       yr     70
28                     buick skyhawk     o       yr     75
29                         mazda 626     x       yr     80
30                      ford mustang     o       hp     88
31                          hi 1200d     o       hp    193
32                  honda civic cvcc     x       hp     60
33                      ford granada     o       hp     98
34                         audi 4000     s       hp     78
35                      datsun 200sx     x       hp    100
36                    toyota corolla     x       hp     75
37               volkswagen 411 (sw)     s       hp     76
38           mercury cougar brougham     o       hp    130
39                       ford torino     o       hp    140
40                         vw pickup     s       hp     52
41             pontiac sunbird coupe     o       hp     88
42                     dodge rampage     o       hp     84
43                          ford ltd     o       hp    148
44             chevrolet monte carlo     o       hp    150
45  chevrolet chevelle concours (sw)     o       hp    130
46                     renault 5 gtl     s       hp     58
47                        chevy s-10     o       hp     82
48               toyota corolla 1200     x       hp     65
49                        mazda rx-4     x       hp    110
50           plymouth valiant custom     o       hp     95
51                     buick century     o       hp    110
52                  ford gran torino     o       hp    140
53               dodge challenger se     o       hp    170
54                     pontiac astro     o       hp     78
55              fiat 124 sport coupe     s       hp     90
56                  toyota celica gt     x       hp     96
57             toyota corona mark ii     x       hp     95
58                     buick skyhawk     o       hp    110
59                         mazda 626     x       hp     75

### Obtaining key-value pairs with melt()

Sometimes, all you need is some key-value pairs, and the context does not matter. If said context is in the index

In [57]:
# Set the new index: users_idx
users_idx = auto.set_index(['maker','yr'])

# Print the users_idx DataFrame
print(users_idx.head())

# Obtain the key-value pairs: kv_pairs
kv_pairs = pd.melt(users_idx,col_level=0)

# Print the key-value pairs
print(kv_pairs.head())

FEATURES   mpg  cyl  displ   hp  weight  accel              name  color  \
maker yr
o     71  18.0    6    250   88    3139   14.5      ford mustang    red
      70   9.0    8    304  193    4732   18.5          hi 1200d  green
x     78  36.1    4     91   60    1800   16.4  honda civic cvcc   blue
o     77  18.5    6    250   98    3525   19.0      ford granada    red
s     80  34.3    4     97   78    2188   15.8         audi 4000   blue

FEATURES       size
maker yr
o     71  27.370336
      70  62.199511
x     78   9.000000
o     77  34.515625
s     80  13.298178
  FEATURES value
0      mpg    18
1      mpg     9
2      mpg  36.1
3      mpg  18.5
4      mpg  34.3

## Pivot tables

### Setting up a pivot table

In [60]:
# Create the DataFrame with the appropriate pivot table: by_city_day
by_city_day = auto.pivot_table(index='name',columns='yr')

# Print by_city_day
print(by_city_day.head())

FEATURES                         accel                                        \
yr                                  70  71    72  73  74    75  77  78    80
name
audi 4000                          NaN NaN   NaN NaN NaN   NaN NaN NaN  15.8
buick century                      NaN NaN   NaN NaN NaN  21.0 NaN NaN   NaN
buick skyhawk                      NaN NaN   NaN NaN NaN  15.0 NaN NaN   NaN
chevrolet chevelle concours (sw)   NaN NaN  14.0 NaN NaN   NaN NaN NaN   NaN
chevrolet monte carlo              9.5 NaN   NaN NaN NaN   NaN NaN NaN   NaN

FEATURES                             ... weight                              \
yr                                81 ...     71      72  73  74      75  77
name                                 ...
audi 4000                        NaN ...    NaN     NaN NaN NaN     NaN NaN
buick century                    NaN ...    NaN     NaN NaN NaN  3907.0 NaN
buick skyhawk                    NaN ...    NaN     NaN NaN NaN  3039.0 NaN
chevrolet chevelle concours (sw) NaN ...    NaN  4098.0 NaN NaN     NaN NaN
chevrolet monte carlo            NaN ...    NaN     NaN NaN NaN     NaN NaN

FEATURES
yr                                78      80  81  82
name
audi 4000                        NaN  2188.0 NaN NaN
buick century                    NaN     NaN NaN NaN
buick skyhawk                    NaN     NaN NaN NaN
chevrolet chevelle concours (sw) NaN     NaN NaN NaN
chevrolet monte carlo            NaN     NaN NaN NaN

[5 rows x 77 columns]

### Using other aggregations in pivot tables

You can also use aggregation functions with in a pivot table by specifying the aggfunc parameter.

In [61]:
# Use a pivot table to display the count of each column: count_by_weekday1
count_by_weekday1 = auto.pivot_table(index='name',aggfunc='count')

# Print count_by_weekday
print(count_by_weekday1.head())

# Replace 'aggfunc='count'' with 'aggfunc=len': count_by_weekday2
count_by_weekday2 = auto.pivot_table(index='yr',aggfunc=len)


# Verify that the same result is obtained
print('==========================================')
print(count_by_weekday1.equals(count_by_weekday2))

FEATURES                          accel  color  cyl  displ  hp  maker  mpg  \
name
audi 4000                             1      1    1      1   1      1    1
buick century                         1      1    1      1   1      1    1
buick skyhawk                         1      1    1      1   1      1    1
chevrolet chevelle concours (sw)      1      1    1      1   1      1    1
chevrolet monte carlo                 1      1    1      1   1      1    1

FEATURES                          size  weight  yr
name
audi 4000                            1       1   1
buick century                        1       1   1
buick skyhawk                        1       1   1
chevrolet chevelle concours (sw)     1       1   1
chevrolet monte carlo                1       1   1
==========================================
False

### Using margins in pivot tables

Sometimes it's useful to add totals in the margins of a pivot table. You can do this with the argument margins=True. In this exercise, you will practice using margins in a pivot table along with a new aggregation function: sum

In [62]:
# Create the DataFrame with the appropriate pivot table: signups_and_visitors
signups_and_visitors = auto.pivot_table(index='name',aggfunc=sum)

# Print signups_and_visitors
print(signups_and_visitors.head())

# Add in the margins: signups_and_visitors_total 
signups_and_visitors_total = auto.pivot_table(index='yr',margins=True,aggfunc=sum)

# Print signups_and_visitors_total
print(signups_and_visitors_total.head())

FEATURES                          accel  cyl  displ   hp   mpg       size  \
name
audi 4000                          15.8    4     97   78  34.3  13.298178
buick century                      21.0    6    231  110  17.0  42.401803
buick skyhawk                      15.0    6    231  110  21.0  25.654225
chevrolet chevelle concours (sw)   14.0    8    307  130  13.0  46.648900
chevrolet monte carlo               9.5    8    400  150  15.0  39.292003

FEATURES                          weight  yr
name
audi 4000                           2188  80
buick century                       3907  75
buick skyhawk                       3039  75
chevrolet chevelle concours (sw)    4098  72
chevrolet monte carlo               3761  70
FEATURES  accel   cyl   displ     hp   mpg        size   weight
yr
70         63.5  36.0  1502.0  748.0  80.0  185.427497  17877.0
71         14.5   6.0   250.0   88.0  18.0   27.370336   3139.0
72         32.0  12.0   428.0  206.0  35.0   64.163125   6609.0
73         15.5   4.0    98.0   90.0  26.0   14.250625   2265.0
74         35.0  12.0   373.0  205.0  48.0   56.996603   5977.0

## Grouping data

#### Advantages of categorical data types

- Computations are faster.
- Categorical data require less space in memory.

### Grouping by multiple columns

.groupby() to analyze the distribution

In [65]:
# Group titanic by 'pclass'
by_class = auto.groupby('name')

# Aggregate 'survived' column of by_class by count
count_by_class = by_class['yr'].count()

# Print count_by_class
print(count_by_class.head())

# Group titanic by 'embarked' and 'pclass'
by_mult = auto.groupby(['name','maker'])

# Aggregate 'survived' column of by_mult by count
count_mult = by_mult['hp'].count()

# Print count_mult
print(count_mult.head())

name
audi 4000                           1
buick century                       1
buick skyhawk                       1
chevrolet chevelle concours (sw)    1
chevrolet monte carlo               1
Name: yr, dtype: int64
name                              maker
audi 4000                         s        1
buick century                     o        1
buick skyhawk                     o        1
chevrolet chevelle concours (sw)  o        1
chevrolet monte carlo             o        1
Name: hp, dtype: int64

### Grouping by another series

In [67]:
# Read life_fname into a DataFrame: life
#life = pd.read_csv(life_fname, index_col='Country')

# Read regions_fname into a DataFrame: regions
#regions = pd.read_csv(regions_fname, index_col='Country')

# Group life by regions['region']: life_by_region
life_by_region = auto.groupby(auto['name'])

# Print the mean over the '2010' column of life_by_region
print(life_by_region['hp'].mean())

name
audi 4000                            78
buick century                       110
buick skyhawk                       110
chevrolet chevelle concours (sw)    130
chevrolet monte carlo               150
chevy s-10                           82
datsun 200sx                        100
dodge challenger se                 170
dodge rampage                        84
fiat 124 sport coupe                 90
ford gran torino                    140
ford granada                         98
ford ltd                            148
ford mustang                         88
ford torino                         140
hi 1200d                            193
honda civic cvcc                     60
mazda 626                            75
mazda rx-4                          110
mercury cougar brougham             130
plymouth valiant custom              95
pontiac astro                        78
pontiac sunbird coupe                88
renault 5 gtl                        58
toyota celica gt                     96
toyota corolla                       75
toyota corolla 1200                  65
toyota corona mark ii                95
volkswagen 411 (sw)                  76
vw pickup                            52
Name: hp, dtype: int64

### Groupby and aggregation

#### Aggregation functions
- string names 
- ‘sum’
- ‘mean’
- ‘count’

### Computing multiple aggregates of multiple columns

The .agg() method can be used with a tuple or list of aggregations as input. When applying multiple aggregations on multiple columns, the aggregated DataFrame has a multi-level column index.

In [71]:
# Group titanic by 'pclass': by_class
by_class = auto.groupby('name')

# Select 'age' and 'fare'
by_class_sub = by_class[['yr','hp']]

# Aggregate by_class_sub by 'max' and 'median': aggregated
aggregated = by_class_sub.agg(['max', 'median'])

# Print the maximum age in each class
print(aggregated.loc[:, ('yr','max')])

# Print the median fare in each class
print(aggregated.loc[:, ('hp','median')])

name
audi 4000                           80
buick century                       75
buick skyhawk                       75
chevrolet chevelle concours (sw)    72
chevrolet monte carlo               70
chevy s-10                          82
datsun 200sx                        81
dodge challenger se                 70
dodge rampage                       82
fiat 124 sport coupe                73
ford gran torino                    74
ford granada                        77
ford ltd                            75
ford mustang                        71
ford torino                         70
hi 1200d                            70
honda civic cvcc                    78
mazda 626                           80
mazda rx-4                          77
mercury cougar brougham             77
plymouth valiant custom             75
pontiac astro                       75
pontiac sunbird coupe               77
renault 5 gtl                       77
toyota celica gt                    82
toyota corolla                      80
toyota corolla 1200                 74
toyota corona mark ii               70
volkswagen 411 (sw)                 72
vw pickup                           82
Name: (yr, max), dtype: int64
name
audi 4000                            78
buick century                       110
buick skyhawk                       110
chevrolet chevelle concours (sw)    130
chevrolet monte carlo               150
chevy s-10                           82
datsun 200sx                        100
dodge challenger se                 170
dodge rampage                        84
fiat 124 sport coupe                 90
ford gran torino                    140
ford granada                         98
ford ltd                            148
ford mustang                         88
ford torino                         140
hi 1200d                            193
honda civic cvcc                     60
mazda 626                            75
mazda rx-4                          110
mercury cougar brougham             130
plymouth valiant custom              95
pontiac astro                        78
pontiac sunbird coupe                88
renault 5 gtl                        58
toyota celica gt                     96
toyota corolla                       75
toyota corolla 1200                  65
toyota corona mark ii                95
volkswagen 411 (sw)                  76
vw pickup                            52
Name: (hp, median), dtype: int64

### Aggregating on index levels/fields

If you have a DataFrame with a multi-level row index, the individual levels can be used to perform the groupby. This allows advanced aggregation techniques to be applied along one or more levels in the index and across one or more columns.

# Read the CSV file into a DataFrame and sort the index: gapminder
gapminder = pd.read_csv('gapminder.csv', index_col=['Year','region','Country']).sort_index()

# Group gapminder by 'Year' and 'region': by_year_region
by_year_region = gapminder.groupby(level=['Year','region'])

# Define the function to compute spread: spread
def spread(series):
    return series.max() - series.min()

# Create the dictionary: aggregator
aggregator = {'population':'sum', 'child_mortality':'mean', 'gdp':spread}

# Aggregate by_year_region using the dictionary: aggregated
aggregated = by_year_region.agg(aggregator)

# Print the last 6 entries of aggregated 
print(aggregated.tail(6))

<script.py> output:
                                     child_mortality       gdp    population
    Year region                                                             
    2013 America                           17.745833   49634.0  9.629087e+08
         East Asia & Pacific               22.285714  134744.0  2.244209e+09
         Europe & Central Asia              9.831875   86418.0  8.968788e+08
         Middle East & North Africa        20.221500  128676.0  4.030504e+08
         South Asia                        46.287500   11469.0  1.701241e+09
         Sub-Saharan Africa                76.944490   32035.0  9.205996e+08

### Grouping on a function of the index

Groubpy operations can also be performed on transformations of the index values. In the case of a DateTimeIndex, we can extract portions of the datetime over which to group.

# Read file: sales
sales = pd.read_csv('sales.csv', index_col='Date',parse_dates=True)

# Create a groupby object: by_day
by_day = sales.groupby(sales.index.strftime('%a'))

# Create sum: units_sum
units_sum = by_day['Units'].sum()

# Print units_sum
print(units_sum)

<script.py> output:
    Mon    48
    Sat     7
    Thu    59
    Tue    13
    Wed    48
    Name: Units, dtype: int64

## Groupby and transformation

### Detecting outliers with Z-Scores

using the zscore function, you can apply a .transform() method after grouping to apply a function to groups of data independently. The z-score is also useful to find outliers: a z-score value of +/- 3 is generally considered to be an outlier.

# Import zscore
from scipy.stats import zscore

# Group gapminder_2010: standardized
standardized = gapminder_2010.groupby('region')['life','fertility'].transform(zscore)

# Construct a Boolean Series to identify outliers: outliers
outliers = (standardized['life'] < -3) | (standardized['fertility'] > 3)

# Filter gapminder_2010 by the outliers: gm_outliers
gm_outliers = gapminder_2010.loc[outliers]

# Print gm_outliers
print(gm_outliers)

<script.py> output:
                 fertility    life  population  child_mortality     gdp  \
    Country                                                               
    Guatemala        3.974  71.100  14388929.0             34.5  6849.0   
    Haiti            3.350  45.000   9993247.0            208.8  1518.0   
    Tajikistan       3.780  66.830   6878637.0             52.6  2110.0   
    Timor-Leste      6.237  65.952   1124355.0             63.8  1777.0   
    
                                region  
    Country                             
    Guatemala                  America  
    Haiti                      America  
    Tajikistan   Europe & Central Asia  
    Timor-Leste    East Asia & Pacific

### Filling missing data (imputation) by group

Many statistical and machine learning packages cannot determine the best action to take when missing data entries are encountered. Dealing with missing data is natural in pandas (both in using the default behavior and in defining a custom behavior). In Chapter 1, you practiced using the .dropna() method to drop missing values. Now, you will practice imputing missing values. You can use .groupby() and .transform() to fill missing data appropriately for each group.

# Create a groupby object: by_sex_class
by_sex_class = titanic.groupby(['sex','pclass'])

# Write a function that imputes median
def impute_median(series):
    return series.fillna(series.median())

# Impute age and assign to titanic['age']
titanic.age = by_sex_class['age'].apply(impute_median)

# Print the output of titanic.tail(10)
print(titanic.tail(10))

<script.py> output:
          pclass  survived                                     name     sex   age  \
    1299       3         0                      Yasbeck, Mr. Antoni    male  27.0   
    1300       3         1  Yasbeck, Mrs. Antoni (Selini Alexander)  female  15.0   
    1301       3         0                     Youseff, Mr. Gerious    male  45.5   
    1302       3         0                        Yousif, Mr. Wazli    male  25.0   
    1303       3         0                    Yousseff, Mr. Gerious    male  25.0   
    1304       3         0                     Zabour, Miss. Hileni  female  14.5   
    1305       3         0                    Zabour, Miss. Thamine  female  22.0   
    1306       3         0                Zakarian, Mr. Mapriededer    male  26.5   
    1307       3         0                      Zakarian, Mr. Ortin    male  27.0   
    1308       3         0                       Zimmerman, Mr. Leo    male  29.0   
    
          sibsp  parch  ticket     fare cabin embarked boat   body home.dest  
    1299      1      0    2659  14.4542   NaN        C    C    NaN       NaN  
    1300      1      0    2659  14.4542   NaN        C  NaN    NaN       NaN  
    1301      0      0    2628   7.2250   NaN        C  NaN  312.0       NaN  
    1302      0      0    2647   7.2250   NaN        C  NaN    NaN       NaN  
    1303      0      0    2627  14.4583   NaN        C  NaN    NaN       NaN  
    1304      1      0    2665  14.4542   NaN        C  NaN  328.0       NaN  
    1305      1      0    2665  14.4542   NaN        C  NaN    NaN       NaN  
    1306      0      0    2656   7.2250   NaN        C  NaN  304.0       NaN  
    1307      0      0    2670   7.2250   NaN        C  NaN    NaN       NaN  
    1308      0      0  315082   7.8750   NaN        S  NaN    NaN       NaN

### Other transformations with .apply

The .apply() method when used on a groupby object performs an arbitrary function on each of the groups. These functions can be aggregations, transformations or more complex workflows. The .apply() method will then combine the results in an intelligent way.

# Group gapminder_2010 by 'region': regional
regional = gapminder_2010.groupby('region')

# Apply the disparity function on regional: reg_disp
reg_disp = regional.apply(disparity)

# Print the disparity of 'United States', 'United Kingdom', and 'China'
print(reg_disp.loc[['United States','United Kingdom','China']])

<script.py> output:
                    regional spread(gdp)    z(gdp)
    Country                                       
    United States                47855.0  3.013374
    United Kingdom               89037.0  0.572873
    China                        96993.0 -0.432756

## Groupby and filtering

### Grouping and filtering with .apply()

By using .apply(), you can write functions that filter rows within groups. The .apply() method will handle the iteration over individual groups and then re-combine them back into a Series or DataFrame.

def c_deck_survival(gr):

    c_passengers = gr['cabin'].str.startswith('C').fillna(False)

    return gr.loc[c_passengers, 'survived'].mean()

# Create a groupby object using titanic over the 'sex' column: by_sex
by_sex = titanic.groupby('sex')

# Call by_sex.apply with the function c_deck_survival and print the result
c_surv_by_sex = by_sex.apply(c_deck_survival)

# Print the survival rates
print(c_surv_by_sex)

<script.py> output:
    sex
    female    0.913043
    male      0.312500
    dtype: float64

### Grouping and filtering with .filter()

You can use groupby with the .filter() method to remove whole groups of rows from a DataFrame based on a boolean condition.

# Read the CSV file into a DataFrame: sales
sales = pd.read_csv('sales.csv', index_col='Date', parse_dates=True)

# Group sales by 'Company': by_company
by_company = sales.groupby('Company')

# Compute the sum of the 'Units' of by_company: by_com_sum
by_com_sum = by_company['Units'].sum()
print(by_com_sum)

# Filter 'Units' where the sum is > 35: by_com_filt
by_com_filt = by_company.filter(lambda g:g['Units'].sum() > 35)
print(by_com_filt)

<script.py> output:
    Company
    Acme Coporation    34
    Hooli              30
    Initech            30
    Mediacore          45
    Streeplex          36
    Name: Units, dtype: int64
                           Company   Product  Units
    Date                                           
    2015-02-02 21:00:00  Mediacore  Hardware      9
    2015-02-04 15:30:00  Streeplex  Software     13
    2015-02-09 09:00:00  Streeplex   Service     19
    2015-02-09 13:00:00  Mediacore  Software      7
    2015-02-19 11:00:00  Mediacore  Hardware     16
    2015-02-19 16:00:00  Mediacore   Service     10
    2015-02-21 05:00:00  Mediacore  Software      3
    2015-02-26 09:00:00  Streeplex   Service      4

### Filtering and grouping with .map()

Sometimes, you may instead want to group by a function/transformation of a column. The key here is that the Series is indexed the same way as the DataFrame. You can also mix and match column grouping with Series grouping.

# Create the Boolean Series: under10
under10 = (titanic['age'] < 10).map({True:'under 10', False:'over 10'})

# Group by under10 and compute the survival rate
survived_mean_1 = titanic.groupby(under10)['survived'].mean()
print(survived_mean_1)

# Group by under10 and pclass and compute the survival rate
survived_mean_2 = titanic.groupby([under10, 'pclass'])['survived'].mean()
print(survived_mean_2)

<script.py> output:
    age
    over 10     0.366748
    under 10    0.609756
    Name: survived, dtype: float64
    age       pclass
    over 10   1         0.617555
              2         0.380392
              3         0.238897
    under 10  1         0.750000
              2         1.000000
              3         0.446429
    Name: survived, dtype: float64

## Case Study:

#### Reminder: indexing & pivoting

- Filtering and indexing 
 - One-level indexing
 - Multi-level indexing
- Reshaping DataFrames with pivot() 
- pivot_table()

#### Reminder: groupby
- Useful DataFrame methods 
 - unique()
 - value_counts()
 - Aggregations, transformations, filtering
 
### Grouping and aggregating

USA_edition_grouped['Medal'].count()

### Using .value_counts() for ranking

Notice that .value_counts() sorts by values by default. The result is returned as a Series of counts indexed by unique entries from the original Series with values (counts) ranked in descending order.

# Select the 'NOC' column of medals: country_names
country_names = medals['NOC']

# Count the number of medals won by each country: medal_counts
medal_counts = country_names.value_counts()

# Print top 15 countries ranked by medals
print(medal_counts.head(15))

<script.py> output:
    USA    4335
    URS    2049
    GBR    1594
    FRA    1314
    ITA    1228
    GER    1211
    AUS    1075
    HUN    1053
    SWE    1021
    GDR     825
    NED     782
    JPN     704
    CHN     679
    RUS     638
    ROU     624
    Name: NOC, dtype: int64

### Using .pivot_table() to count medals by type

Rather than ranking countries by total medals won and showing that list, you may want to see a bit more detail. You can use a pivot table to compute how many separate bronze, silver and gold medals each country won. That pivot table can then be used to repeat the previous computation to rank by total medals won.

# Construct the pivot table: counted
counted = medals.pivot_table(index='NOC',columns='Medal',values='Athlete',aggfunc='count')

# Create the new column: counted['totals']
counted['totals'] = counted.sum(axis='columns')

# Sort counted by the 'totals' column
counted = counted.sort_values('totals', ascending=False)

# Print the top 15 rows of counted
print(counted.head(15))

<script.py> output:
    Medal  Bronze    Gold  Silver  totals
    NOC                                  
    USA    1052.0  2088.0  1195.0  4335.0
    URS     584.0   838.0   627.0  2049.0
    GBR     505.0   498.0   591.0  1594.0
    FRA     475.0   378.0   461.0  1314.0
    ITA     374.0   460.0   394.0  1228.0
    GER     454.0   407.0   350.0  1211.0
    AUS     413.0   293.0   369.0  1075.0
    HUN     345.0   400.0   308.0  1053.0
    SWE     325.0   347.0   349.0  1021.0
    GDR     225.0   329.0   271.0   825.0
    NED     320.0   212.0   250.0   782.0
    JPN     270.0   206.0   228.0   704.0
    CHN     193.0   234.0   252.0   679.0
    RUS     240.0   192.0   206.0   638.0
    ROU     282.0   155.0   187.0   624.0

## Understanding the column labels

#### Reminder: slicing & filtering
- Indexing and slicing
 - .loc[] and .iloc[] accessors
- Filtering
 - Selecting by Boolean Series
 - Filtering null/non-null and zero/non-zero values

#### Reminder: Handling categorical data
- Useful DataFrame methods for handling categorical data: 
 - value_counts()
 - unique()
 - groupby()
- groupby() aggregations:
 - mean(), std(), count()
 
### Applying .drop_duplicates()

The duplicates can be dropped using the .drop_duplicates() method, leaving behind the unique observations.

# Select columns: ev_gen
ev_gen = medals.loc[('Event_gender','Gender')]

# Drop duplicate pairs: ev_gen_uniques
ev_gen_uniques = ev_gen.drop_duplicates()

# Print ev_gen_uniques
print(ev_gen_uniques)

<script.py> output:
          Event_gender Gender
    0                M    Men
    348              X    Men
    416              W  Women
    639              X  Women
    23675            W    Men

### Finding possible errors with .groupby()

You will now use .groupby() to continue your exploration

# Group medals by the two columns: medals_by_gender
medals_by_gender = medals.groupby(['Event_gender','Gender'])

# Create a DataFrame with a group count: medal_count_by_gender
medal_count_by_gender = medals_by_gender.count()

# Print medal_count_by_gender
print(medal_count_by_gender)

<script.py> output:
                          City  Edition  Sport  Discipline  Athlete    NOC  Event  \
    Event_gender Gender                                                             
    M            Men     20067    20067  20067       20067    20067  20067  20067   
    W            Men         1        1      1           1        1      1      1   
                 Women    7277     7277   7277        7277     7277   7277   7277   
    X            Men      1653     1653   1653        1653     1653   1653   1653   
                 Women     218      218    218         218      218    218    218   
    
                         Medal  
    Event_gender Gender         
    M            Men     20067  
    W            Men         1  
                 Women    7277  
    X            Men      1653  
                 Women     218

### Locating suspicious data

You will now inspect the suspect record by locating the offending row.

# Create the Boolean Series: sus
sus = (medals.Event_gender == 'W') & (medals.Gender == 'Men')

# Create a DataFrame with the suspicious row: suspect
suspect = pd.DataFrame(medals[sus])

# Print suspect
print(suspect)

<script.py> output:
             City  Edition      Sport Discipline            Athlete  NOC Gender  \
    23675  Sydney     2000  Athletics  Athletics  CHEPCHUMBA, Joyce  KEN    Men   
    
              Event Event_gender   Medal  
    23675  marathon            W  Bronze

## Constructing alternative country rankings

#### Two new DataFrame methods
- idxmax(): Row or column label where maximum value is located
- idxmin(): Row or column label where minimum value is located

### Using .nunique() to rank by distinct sports

# Group medals by 'NOC': country_grouped
country_grouped = medals.groupby('NOC')

# Compute the number of distinct sports in which each country won medals: Nsports
Nsports = country_grouped['Sport'].nunique()

# Sort the values of Nsports in descending order
Nsports = Nsports.sort_values(ascending=False)

# Print the top 15 rows of Nsports
print(Nsports.head(15))

<script.py> output:
    NOC
    USA    34
    GBR    31
    FRA    28
    GER    26
    CHN    24
    AUS    22
    ESP    22
    CAN    22
    SWE    21
    URS    21
    ITA    21
    NED    20
    RUS    20
    JPN    20
    DEN    19
    Name: Sport, dtype: int64